<div id="formPdf">
  <button class="btn" (click)="logout()">Logout</button>

  <form [formGroup]="myForm" (ngSubmit)="submit()">
    <div class="form-group">
      <label for="file">File</label>
      <input
        formControlName="file"
        id="file"
        type="file"
        class="form-control"
        multiple=""
        (change)="onFileChange($event)">
      <div *ngIf="f.file.touched && f.file.invalid" class="alert alert-danger">
        <div *ngIf="f.file.errors.required">File is required.</div>
      </div>
    </div>

    <img *ngFor='let url of images;let i=index' id="img{{i}}" [src]="url" height="150" width="200px"
         style="margin: 3px;">
    <br/>
    <button class="btn btn-primary" type="submit">Submit</button>
  </form>
</div>
<div id="pdfViewer" hidden="hidden">
  <div class="row" style="position: relative">
    <div class="col-9" style="background-color: #FFFFFF">
      <div id="pdfPage" (resize)="patchValues()" #pdfPage>
        <pdf-viewer id="pdfShow" #abc [(page)]="page" (window:resize)="reload()" [show-all]="false"
                    [src]="pdfSource"
                    [render-text]="true" [original-size]='false'
                    [fit-to-page]='false' (after-load-complete)="afterLoadComplete($event)"
        >
        </pdf-viewer>
      </div>

    </div>
    <div class="rowT col-3 shadow" id="here" style="background-color: #FFFFFF">
      <div [hidden]="showProperties" class="colT">
        <div style="background-color: #0C9890; height: 50px" class="text-white  p-2 shadow">
          <h4 class="text-center">FIELDS</h4>
        </div>
        <div *ngFor="let list of fields;let i=index;">
          <div id="box{{i}}"
               cdkDrag
               (cdkDragEnded)="drop($event,list,i)"
               [cdkDragFreeDragPosition]="dragPosition"
               (cdkDragStarted)="resetDragPosition($event)"
               class="text-center text-white mt-1 "
               [ngClass]="(list.shape==='circle')?'dot':(list.shape==='rectangle')?'rectangle':(list.shape==='square')?'square':''"
               style="background-color: #2C6BB6;">
            {{list.title}}
          </div>
          <select name="selectShape" id="selectShape" (change)="setFieldTypeAndShape(i,selectShape.value)" #selectShape>
            <option value="text" selected>Text</option>
            <option value="rectangle">Image-Rectangle</option>
            <option value="square">Image-Square</option>
            <option value="circle">Image-Circle</option>
          </select>
        </div>
      </div>
      <div [hidden]="!showProperties" class="colT">
        <div style="background-color: #0C9890; height: 50px" class="text-white  p-2 shadow">
          <h4 class="text-center">PROPERTIES</h4>
        </div>
        <div class="form-group">
          <form [formGroup]="fieldProperties">
            <label for="xcoordinate">Margin Left</label>
            <input type="text" class="form-control" id="xcoordinate" formControlName="xcoordinate"
                   placeholder="Margin Left"/>
            <label for="ycoordinate">Margin Top</label>
            <input type="text" class="form-control" id="ycoordinate" formControlName="ycoordinate"
                   placeholder="Margin Top"/>
            <div
              *ngIf="!(pdfFieldElements[currentlySelectedPdfFieldIndex]?.shape==='circle' || pdfFieldElements[currentlySelectedPdfFieldIndex]?.shape==='square')">
              <label for="height">Height</label>
              <input type="text" class="form-control" id="height" formControlName="height" placeholder="Height"/>
            </div>
            <label for="width">Width</label>
            <input type="text" class="form-control" id="width" formControlName="width" placeholder="Width"/>
            <div *ngIf="pdfFieldElements[currentlySelectedPdfFieldIndex]?.fieldType==='text'">
              <label for="transparentOrOpaque">Transparent/Opaque</label>
              <select class="form-control" id="transparentOrOpaque" formControlName="transparentOrOpaque">
                <option value="Opaque">Opaque</option>
                <option value="Transparent">Transparent</option>
              </select>
              <label for="fontType">Font Type</label>
              <select class="form-control" id="fontType" formControlName="fontType">
                <option *ngFor="let fontType of fontTypes" [value]="fontType.value">{{fontType.option}}</option>
              </select>
              <label for="fontSize">Font Size</label>
              <select class="form-control" id="fontSize" formControlName="fontSize">
                <option *ngFor='let number of counter(40) ;let i = index' [value]="i+1">{{i + 1}}</option>
              </select>
              <label for="fontColor">Font Color</label>
              <input class="form-control" placeholder="pick a color" [(ngModel)]="color" [(colorPicker)]="color" [style.background]="color" id="fontColor" formControlName="fontColor"/>
            </div>
            <button class="btn btn-primary" type="submit" (click)="toogleProperties()">Confirm</button>
          </form>
          <!--        <label for="#">Field Type</label>-->
          <!--        <input type="text" class="form-control" placeholder="Field Type"/>-->
          <!--        <label for="#">Shape</label>-->
          <!--        <input type="text" class="form-control" placeholder="Shape"/>-->
        </div>
      </div>
      <!--      <span class="dot" cdkDrag (cdkDragEnded)="drop($event,{title:'testCirlce'},null,'circle')"-->
      <!--            [cdkDragFreeDragPosition]="dragPosition"-->
      <!--            (cdkDragStarted)="resetDragPosition($event)"></span>-->
    </div>

  </div>
  <div class="row" style="align-items: center">
    <div class="col-5"></div>
    <div class="col-1">
      <a (click)="prev()" style="cursor: pointer;" class="h1">&#8249;</a>
    </div>
    <div class="col-1">
      <a (click)="next()" style="cursor: pointer;" class="h1">&#8250;</a>
    </div>
    <div class="col-5"></div>
  </div>
  <div class="row" style="align-items: center">
<div class="col-4"></div>
<!--    <div class="row mt-2">-->
      <div class="col-4">
        <!--                <div class="input-group">-->
        <div class="form-group">
          <label for="orgName">Organization Name:</label>
          <select required="required" class="form-control" id="orgName">
            <option *ngFor="let o of organizationFields" value="{{o.id}}" selected="{{o.selected}}">
              {{o.name}}
            </option>
          </select>
          <div>
          <span class="input-group-btn" style="padding: 0 0 0 5px"><button (click)="openOrganizationModal()"
                                                                           class="btn btn-info text-center"
                                                                           style="width: 3.5rem; height: 1.8rem; padding: 0 0 0 5px">Add</button></span>
          </div>
        </div>
        <!--                </div>-->
        <div class="form-group">
        <label for="document-type">Document Type:</label>
        <select class="form-control" required="required" id="document-type">
          <option value="IDCARD">IDCARD</option>
          <option value="KYC">KYC</option>
        </select>
        </div>
        <br>
        <button (click)="onsubmit()" [disabled]="processing"
                class="btn btn-success">{{processing ? 'Processing' : 'Submit'}}</button>
      </div>
    <div class="col-4">
    </div>
<!--    </div>-->
  </div>


</div>

