<div id="formPdf">
  <button class="btn" (click)="logout()">Logout</button>

  <form [formGroup]="myForm" (ngSubmit)="submit()">
    <div class="form-group">
      <label for="file">File</label>
      <input
        formControlName="file"
        id="file"
        type="file"
        class="form-control"
        multiple=""
        (change)="onFileChange($event)">
      <div *ngIf="f.file.touched && f.file.invalid" class="alert alert-danger">
        <div *ngIf="f.file.errors.required">File is required.</div>
      </div>
    </div>

    <img *ngFor='let url of images;let i=index' id="img{{i}}" [src]="url" height="150" width="200px"
         style="margin: 3px;">
    <br/>
    <button class="btn btn-primary" type="submit">Submit</button>
  </form>
</div>
<div id="pdfViewer" hidden="hidden">
  <div class="row" style="position: relative">
    <div class="col-9" style="background-color: #FFFFFF">
      <div id="pdfPage" (resize)="patchValues()" #pdfPage>
        <div class="row">
          <div class="col-1" style="margin-top: 400px;">
            <a (click)="prev()" style="cursor: pointer; float: right" class="h1 text-center">&#8249;</a>
          </div>
          <div class="col-10">
            <div class="row">
              <div class="col-12" style="text-align: center">
                <pdf-viewer id="pdfShow" #abc [(page)]="page" (window:resize)="reload()" [show-all]="false"
                            [src]="pdfSource"
                            [render-text]="true" [original-size]='false'
                            [fit-to-page]='false' (after-load-complete)="afterLoadComplete($event)"
                >
                </pdf-viewer>
              </div>
            </div>
            <div class="row mt-2">
              <div class="col-12" style="text-align: center">
                <div class="input-group">
                  <label for="orgName">
                    Organization Name:
                  </label>
                  <select required="required" id="orgName">
                    <option *ngFor="let o of organizationFields" value="{{o.id}}" selected="{{o.selected}}">
                      {{o.name}}
                    </option>
                  </select>
                  <span class="input-group-btn">
          <button (click)="openOrganizationModal()" class="btn btn-info">Add</button>
        </span>
                </div>

                Document Type: <select required="required" id="document-type">
                <option value="KYC">KYC</option>
                <option value="IDCARD">IDCARD</option>
              </select>

                <button (click)="onsubmit()" [disabled]="processing">{{processing ? 'Processing' : 'Submit'}}</button>
              </div>
            </div>
          </div>
          <div class="col-1" style="margin-top: 400px;">
            <a (click)="next()" style="cursor: pointer;" class="h1">&#8250;</a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-3 shadow" id="here" style="background-color: #FFFFFF">
      <div style="background-color: #0C9890; height: 50px" class="text-white  p-2 shadow">
        <h4 class="text-center">FIELDS</h4>
      </div>
      <div
        id="box{{i}}"
        *ngFor="let list of fields;let i=index;"
        cdkDrag
        (cdkDragEnded)="drop($event,list,i)"
        [cdkDragFreeDragPosition]="dragPosition"
        (cdkDragStarted)="resetDragPosition($event)"
        class="text-center text-white mt-1 "
        style="background-color: #2C6BB6;"
      >
        {{list.title}}
      </div>

      <div class="row">
        <div class="col-10">
          <div class="row" style="border: 2px solid black;">
            <div class="col-7">
              title
            </div>
            <div class="col-5">
              <select class="border-0">
                <option>option 1</option>
                <option>option 2</option>
              </select>
            </div>
          </div>
        </div>
        <div class="col-2 h1 text-danger font-weight-bold"
             style="cursor: pointer; margin-left: -15px; margin-top: -15px">
          &times;
        </div>
      </div>

    </div>
  </div>
</div>
