<div id="formPdf">
  <h1>Angular 9 Multiple Image Upload with Preview - ItSolutionStuff.com</h1>

  <form [formGroup]="myForm" (ngSubmit)="submit()">


    <div class="form-group">
      <label for="file">File</label>
      <input
        formControlName="file"
        id="file"
        type="file"
        class="form-control"
        multiple=""
        (change)="onFileChange($event)">
      <div *ngIf="f.file.touched && f.file.invalid" class="alert alert-danger">
        <div *ngIf="f.file.errors.required">File is required.</div>
      </div>
    </div>

    <img *ngFor='let url of images;let i=index' id="img{{i}}" [src]="url" height="150" width="200px"
         style="margin: 3px;">
    <br/>


    <button class="btn btn-primary" type="submit">Submit</button>
  </form>

</div>
<!--<div id="pdfViewer" hidden="hidden">-->
<!--  <pdf-viewer-->
<!--    [src]='finalPdfSource'-->
<!--    [render-text]="true"-->
<!--    style="display: block;"-->
<!--  ></pdf-viewer>-->
<!--  <a href="{{pdfSource}}">Click to download</a>-->
<!--</div>-->
<!--<div>-->

<div id="pdfViewer" hidden="hidden">
  <div class="row" style="position: relative">
    <div class="col-md-10" style="width: 80%; float: left;position: relative" id="pdfPage" (resize)="patchValues()">

      <pdf-viewer id="pdfShow" #abc  [(page)]="page" (window:resize)="reload()" [show-all]="false" [src]="pdfSource" [render-text]="true" [original-size]='false'
                  [fit-to-page]='false' (after-load-complete)="afterLoadComplete($event)"
                   style="display: relative;"
      >

      </pdf-viewer>

    </div>
    <div class="col-md-2" style="width: 20%; float: left;" id="here">
      <!--      <div-->
      <!--        cdkDropList-->
      <!--        class="field-list">-->
      <!--        <div class="field-box" *ngFor="let item of origin" cdkDrag (cdkDragEnded)="drop($event,item)">{{item.title}}</div>-->
      <!--      </div>-->
      <div class="box" id="box{{i}}" *ngFor="let list of origin;let i=index;" cdkDrag (cdkDragEnded)="drop($event,list,i)">{{list.title}}
      </div>

    </div>
  </div>
    <button (click)="prev()">prev</button>

  <button (click)="next()">Next</button>
Organization Name:<input type="text" required="required" id="orgName">
<button (click)="onsubmit()" [disabled]="processing">{{processing?'Processing':'Submit'}}</button>
<!--<a href="https://secureid.blob.core.windows.net/documents/1610257651989.pdf">Click to download</a>-->

</div>
